* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial,Helvetica,sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
}

.products {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.cart {
    text-align: right;
    padding-right: 15px;
}

.btn-cart {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.btn-cart img {
    max-width: 40px;
}

.product-item {
    padding: 15px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 24%;
    box-sizing: border-box;
}

.product-item h3 {
    text-align: center;
}

.product-item img {
   width: 100%;
}

.product-item p {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 20px 15px 0;
}

.buy-btn {
    border: none;
    background-color: midnightblue;
    color: white;
    font-size: 1.2em;
    display: block;
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}
.cart-wrap {
    position: fixed;
    display: flex;
    visibility: hidden;
    top: 0;
    background: rgb(0 0 0 / 40%);
    width: 100%;
    height: 100%;
}
.cart-wrap p {
    text-align: end;
    padding: 15px 50px 0 0;
}
.cart-modal {
    position: relative;
    padding: 20px;
    width: 70%;
    margin: auto;
    background: white;
    border-radius: 10px;
}
.cart-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}
.cart-item img {
    width: 70px;
}
.quantity {
    display: flex;
    align-items: center;
}
.quantity button {
    width: 30px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    border: none;
}
.quantity p {
    padding: 0 15px;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.close img {
    width: 30px;
}
.del-good {
    background-color: rgb(170, 0, 0);
}
.add-good {
    background-color: rgb(128, 202, 42);
}

@media screen and (min-width: 668px)  and (max-width: 1124px) {
    .container {
        max-width: 870px;
    }

    .product-item {
    width: 31.9%;
    }
}

@media screen and (min-width: 376px)  and (max-width: 667px) {
    .container {
        max-width: 575px;
    }

    .product-item {
    width: 47%;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 100%;
    }

    .product-item {
    width: 100%;
    }

    .products {
        justify-content: center;
    }
}